.container_principal {
    background-color: white;
}

.container_produto {
    padding: 1em 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container_imgTitleBodyCategory {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

h1 {
    width: 18em;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
    font-size: 1.5em;
}

.fotoPromocao {
    max-width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.fotoPromocao h2 {
    position: absolute;
    background-color: #840700;
    padding: .45em .25em;
    border-radius: 10px;
    margin-top: .5em;
    color: white;
    font-size: 1.5em;
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0,0,0,0.85); 
    box-shadow: 0px 3px 16px 2px rgba(0,0,0,0.85);
}

.container_imgTitleBodyCategory img {
    max-width: 40vw;
    border-radius: 10px;
    object-fit: cover;
    margin-block: 0;
}

.container_titleBodyPriceUnityMethod {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_titleBodyPriceUnityMethod .price span {
    font-size: 1.1em;
    font-family: 'helvetica';
}

.prices {
    margin-top: 3em;
}

.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    font-size: 1.75em;
    font-family: 'helvetica';
    font-weight: bold;
}

.body {
    width: 27rem;
    text-align: justify;
}

.icons{
    font-size: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icons p {
    margin-right: 1em;
}

.icons svg:first-child {
    margin-right:.2em;
    font-size: 2em;
}

/*Media Querie*/
  @media (max-width: 836px) {
    .container_imgTitleBodyCategory img {
        max-width: 60vw;
    }

    h1 {
        text-align: justify;
        font-size: 1.5em;
        width: 100%;
    }

    .body {
        font-size: 0.9em;
        width: 100%;
    }
  }  

  @media (max-width: 470px) {
    .container_imgTitleBodyCategory img {
        max-width: 70vw;
    }

    h1 {
        padding: 0 10%;
        text-align: justify;
        font-size: 1em;
        width: 100%;
    }

    .body {
        padding: 0 10%;
        font-size: 0.8em;
        width: 100%;
    }

    .prices {
        padding: 0 10%;
        width: 100%;
    }

    .method {
        padding: 0 10%;
        width: 100%;
    }

    .categoryIcons {
        padding: 0 10%;
        width: 100%;
    }

    .fotoPromocao h2 {
        font-size: 1em;
    }

    .newPrice {
        font-size: 1.5em;
    }
  }

  @media (max-width: 320px) {
    .container_imgTitleBodyCategory img {
        max-width: 75vw;
    }

    h1 {
        width: 100%;
        padding: 0 1em;
        font-size: 1em;
        width: 100%;
    }

    .body {
        padding: 0 1em;
        font-size: 0.8em;
        width: 100%;
    }

    .prices {
        padding: 0 1em;
        width: 100%;
    }

    .method {
        padding: 0 1em;
        width: 100%;
    }

    .categoryIcons {
        padding: 0 1em;
        width: 100%;
    }

    .fotoPromocao h2 {
        font-size: 1em;
    }

    .newPrice {
        font-size: 1.5em;
    }
  }


