.create_product {
    text-align: center;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.create_product h2 {
    font-size: 2.2em;
    width: fit-content;
    padding: 5px 25px;
    background-color: black;
    color: white;
    margin-bottom: 1em;
    -webkit-box-shadow: -4px 2px 15px 1px rgba(0,0,0,0.45); 
    box-shadow: -4px 2px 15px 1px rgba(0,0,0,0.45);
    border-bottom: 2px solid rgb(116, 116, 116);
    border-right: 1.5px solid rgb(116, 116, 116);
}

.create_product p {
    color: #aaa;
    margin-bottom: 2em;
}

.divPriceUnity {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.divPriceUnity :first-child {
    width: 50%;
    padding-right: 1em;
}

.divPriceUnity :last-child {
    width: 50%;
}

.divPriceUnity :first-child input {
    width: 100%;
}

.divPriceUnity :last-child input {
    width: 100%;
}

.btnCadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}