.containerFather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

    .background {
        width: 100%;
        display: flex;
        justify-content: center;
    }

        .background img {
            max-width: none;
            width: 80% !important;
            height: 500px;
            border-radius: 0;
            filter: brightness(55%);
            position: relative;
        }

        .txtBackground {
            width: 450px;
            position: absolute;
            margin-top: 50px;
            margin-right: 40%;
            color: white;
        }

            .txtBackground p {
                font-size: 2.5em;
                font-weight: 900;
                color: #cd0c02;
                text-transform: uppercase;
            }

            .txtBackground h2 {
                font-size: 2.8em;
                background-color: rgba(0, 0, 0, 0.342);
                padding: 5px 10px;
                font-weight: 600;
            }

                .txtBackground h2 span {
                    font-size: 1.1em;
                    font-weight: bold;
                }

        .containerLocationsProjects {
            position: absolute;
            z-index: 1;
            width: 270px !important;
            background-color: rgba(0, 0, 0, 0.45);
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-left: 50%;
            margin-top: 15px;
        }

            .containerLocationsProjects h2 {
                color: white;
                text-transform: uppercase;
                font-size: 1.10em;
            }

                .containerLocationsProjects h2 span {
                    color: #cd0c02;
                    font-size: 1.10em;
                }

            .containerLocationsProjects i {
                color: white;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .containerLocationsProjects p {
                color: white;
                font-weight: 500;
            }

    .txtProjects {
        background-color: black;
        color: white;
        max-width: fit-content;
        height: 50px;
        position: relative;
        margin-top: -110px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.545); 
        box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.545);
    }

        .txtProjects h3 {
            margin-left: 15px;
        }

        .txtProjects i {
            background-color: white;
            color: black;
            font-size: 1.5em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            border: 1px solid black;
        }

    .list_products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 0;
    }

        .weWorkWith {
            display: flex;
        }