.edit_product {
    text-align: center;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.edit_product h2 {
    font-size: 1.5em;
    width: 60%;
}

.edit_product p {
    color: #aaa;
    margin-bottom: 2em;
}

img {
    max-width: 350px;
    margin-bottom: 5em;
    border-radius: 10px;
    
}

.divPriceUnity {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title_Price {
    width: 100px;
}

.divPriceUnity :first-child {
    width: 50%;
    padding-right: 1em;
}

.divPriceUnity :last-child {
    width: 50%;
}

.divPriceUnity :first-child input {
    width: 100%;
}

.divPriceUnity :last-child input {
    width: 100%;
}

.edit_product .preview_title {
    margin-bottom: 2em;
    color: black;
    font-weight: bold;
}

.containerPreviewImagesCasas {
    display: flex;
    flex-wrap: wrap;
}

